{
  "extends": [
    "react-app",
    "prettier",
    "airbnb"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "prettier/prettier": ["error"],
    "semi": 0,
    "max-len": ["error", { "code": 80 }],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "object-curly-newline": [0],
    "arrow-parens": ["error", "always"],
    "react/jsx-one-expression-per-line": ["error", { "allow": "literal" }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "plugins": [
    "prettier"
  ]
}