{ "env": {
      "browser": true,
      
  },
  
  "extends": [
    "prettier",
    "airbnb"
  ],

  "rules": {
    "jsx-quotes": [
      1,
      "prefer-single"
    ],
    "prettier/prettier": ["error"],
    "semi": 0,    
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "object-curly-newline": [0],
    "arrow-parens": ["error", "always"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  
  "plugins": [
    "prettier"
  ]
}