{
  "extends": [
    "react-app",
    "prettier",
    "airbnb-base"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "prettier/prettier": ["error"],
    "semi": 0,
    "comma-dangle": ["error", {
      "arrays": "always",
      "objects": "always",
      "imports": "never",
      "exports": "never",
      "functions": "never"
  }]
  },
  "plugins": [
    "prettier"
  ]
}