{
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "parser": "flow",
  "semi": false,
  "arrowParens": "always"
}